[Desktop Entry]
Type=Application
Version=1.0
Name=Minecraft
Comment=Official Minecraft Launcher
Terminal=false
Icon=/home/luke/.minecraft/launcher/icons/minecraft256.png
Exec=/opt/minecraft-launcher/minecraft-launcher