[Desktop Entry]
Type=Application
Version=1.0
Name=Minecraft
Comment=Official Minecraft Launcher
Terminal=false
Icon=/opt/minecraft-launcher/minecraft256.png
Exec=/usr/bin/bash -c "DRI_PRIME=1 minecraft-launcher"