[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/home/luke/Postman/Postman
Name=Postman
Icon=/home/luke/Postman/app/icons/icon_128x128.png